In [2]:
import numpy as np
import pandas as pd

In [33]:
labels=['USA','BERLIN','INDIA','CALIFORNIA']
arr=[10,20,30,40]
mydict={'USA':10,'BERLIN':30,'INDIA':50,'CALIFORNIA':90}

In [36]:
series= pd.Series(mydict)
series2=pd.Series(arr,index=labels)
series+series2

USA            20
BERLIN         50
INDIA          80
CALIFORNIA    130
dtype: int64

In [60]:
r=['JAPAN','ISARIL','CANADA','EGYPT','US']
np.random.seed(100)

data=pd.DataFrame(np.random.randn(5,4),r,labels)
data[['INDIA','USA']]

data['US+IND']=data['INDIA']+data['USA']
# data

In [67]:
data.drop('US+IND',axis=1,inplace=True)   ## for permenantly deletion of column inplace=True
data

             USA    BERLIN     INDIA  CALIFORNIA
JAPAN  -1.749765  0.342680  1.153036   -0.252436
ISARIL  0.981321  0.514219  0.221180   -1.070043
CANADA -0.189496  0.255001 -0.458027    0.435163
EGYPT  -0.583595  0.816847  0.672721   -0.104411
US     -0.531280  1.029733 -0.438136   -1.118318

In [64]:
## delete row 

data.drop('US')
data

             USA    BERLIN     INDIA  CALIFORNIA    US+IND
JAPAN  -1.749765  0.342680  1.153036   -0.252436 -0.596730
ISARIL  0.981321  0.514219  0.221180   -1.070043  1.202500
CANADA -0.189496  0.255001 -0.458027    0.435163 -0.647523
EGYPT  -0.583595  0.816847  0.672721   -0.104411  0.089126
US     -0.531280  1.029733 -0.438136   -1.118318 -0.969416

In [72]:
data.loc['US']
data.iloc[4]
data=pd.DataFrame(data=mydict)
data

ValueError: If using all scalar values, you must pass an index